body{
    margin: 0; 
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
 input{
  box-sizing: border-box;
  padding: 10px 20px;
  border: 1px solid #5f9341;
  width: 100%;
 }

button{
 background-color: #5f9341;
 border: none;
 padding: 10px 20px;
 color: white;
 font-weight: bold;
}












































































































































/* body{
    background-image: url(bus-station-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;

    
}
.bus-entren{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-top: 80px;
    background-color: transparent;
}
h1{
    margin-bottom: 10px;
    padding-top: 5px;
    font-weight: 1000;
    font-size: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

.save {
   border: none;
   padding-top: 30px;
   padding-bottom: 10px;
   color: white;
   font-weight: 200px;
   width: 200px;
   margin-bottom: 5px;
   border-radius: 5px;
   margin-top: 8px;
   padding-left: 9px;
} 
.increment {
    border: none;
    padding-top: 30px;
    padding-bottom: 10px;
    color: white;
    font-weight: 200px;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    margin-top: 8px;
 }  */